.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

#list-container {
	width: 60%;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	border: 1px solid black;
	padding: 0;
}

h1 {
	text-align: center;
	text-decoration: underline;
}
li {
	margin: 10px;
}